[submodule "submodules/lute"]
	path = submodules/lute
	url = https://github.com/luau-lang/lute.git
[submodule "submodules/lune"]
	path = submodules/lune
	url = https://github.com/lune-org/lune.git
[submodule "submodules/robloxstudio-mcp"]
	path = submodules/robloxstudio-mcp
	url = git@github.com:Chrrxs/robloxstudio-mcp.git
